<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>요한 스튜디오 · v2</title>
<link rel="stylesheet" href="tokens.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script type="text/babel" src="V2Header.jsx"></script>
<script type="text/babel" src="V2Hero.jsx"></script>
<script type="text/babel" src="V2Portfolio.jsx"></script>
<script type="text/babel" src="V2Featured.jsx"></script>
<script type="text/babel" src="V2About.jsx"></script>
<script type="text/babel" src="V2Contact.jsx"></script>
<script type="text/babel" src="V2Footer.jsx"></script>
<style>
  /* Mobile responsive: collapse asymmetric Hero to single column at <720px */
  @media (max-width: 720px) {
    section#hero > div { grid-template-columns: 1fr !important; }
    section#hero aside { order: -1; }
    header nav a:not(:last-child) { display: none; }
  }
</style>
</head>
<body>
<div id="root"></div>
<script type="text/babel">
const App = () => (
  <div>
    <V2Header />
    <main>
      <V2Hero />
      <V2Portfolio />
      <V2Featured />
      <V2About />
      <V2Contact />
    </main>
    <V2Footer />
  </div>
);
ReactDOM.createRoot(document.getElementById('root')).render(<App />);
</script>
</body>
</html>
